/* main css file */
body { 
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-103929.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
